.table {
  width: 90%;
  padding: 10px;
  position: relative;
  line-height: 1.2;
  border-collapse: collapse;
  font-size: 16px;
  border-spacing: 2px;
  border-color: grey;
  margin: auto;
}

table, tr, td {
  border: 1px solid #ddd;
}

table td {
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: rgba(238, 238, 238, 0.664);
}

